services:
  finance-admin:
    image: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/sirius/sirius-finance-admin:latest
    build:
      dockerfile: docker/finance-admin/Dockerfile
    ports:
      - "8889:8888"
    environment:
      PORT: 8888
      PREFIX: /finance-admin
      SIRIUS_PUBLIC_URL: http://host.docker.internal:3000
      SIRIUS_URL: http://json-server:3000
      HUB_URL: http://finance-hub-api:8080
      JWT_SECRET: mysupersecrettestkeythatis128bits
      HEALTHCHECK: /finance-admin/health-check
    depends_on:
      finance-hub-api:
        condition: service_healthy
      json-server:
        condition: service_started

  localstack:
    image: localstack/localstack:4.13
    volumes:
      - "./scripts/localstack/init:/etc/localstack/init/ready.d"
      - "./scripts/localstack/wait:/scripts/wait"
    ports:
      - "4567:4566"
    environment:
      AWS_DEFAULT_REGION: eu-west-1
    healthcheck:
      test: bash /scripts/wait/healthcheck.sh
      interval: 20s
      timeout: 30s
      retries: 50
    restart: unless-stopped

  cypress:
    build:
      dockerfile: docker/cypress/Dockerfile
    command: [ "--headless", "-b", "electron" ]
    volumes:
      - ./cypress/screenshots:/root/cypress/screenshots:rw,delegated
      - ./cypress/logs:/root/cypress/logs:rw,delegated
    depends_on:
      finance-admin:
        condition: service_healthy

  go-lint:
    image: golangci/golangci-lint:v2.9.0
    working_dir: /go/src/app
    volumes:
      - ./:/go/src/app
      - ./.cache/golangci-lint/v2.2.1:/root/.cache
    command: golangci-lint run -v --timeout 5m

  gosec:
    image: securego/gosec:latest
    working_dir: /app
    volumes:
      - .:/app
    command: -exclude-dir=.gocache -fmt=sarif -out=/app/test-results/gosec.sarif -stdout -verbose=text /app/...

  trivy:
    image: aquasec/trivy:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./.trivy-cache:/root/.cache
      - ./test-results:/test-results
      - ./.trivyignore:/.trivyignore
    environment:
      - TRIVY_DB_REPOSITORY=${TRIVY_DB_REPOSITORY}
      - TRIVY_JAVA_DB_REPOSITORY=${TRIVY_JAVA_DB_REPOSITORY}
      - TRIVY_USERNAME=${DOCKER_USERNAME}
      - TRIVY_PASSWORD=${DOCKER_PASSWORD}

  yarn:
    image: node:22-alpine3.19
    working_dir: /home/node/app
    entrypoint: yarn
    volumes:
      - ./finance-admin:/home/node/app

  json-server:
    build:
      dockerfile: docker/json-server/Dockerfile
    ports:
      - '3001:3000'

  finance-hub-api:
    image: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/sirius/sirius-finance-api:latest
    ports:
      - "8282:8080"
    environment:
      PORT: 8080
      HEALTHCHECK: /health-check
      POSTGRES_CONN: sirius-db:5432
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: finance
      AWS_REGION: eu-west-1
      AWS_BASE_URL: http://localstack:4566
      AWS_ACCESS_KEY_ID: localstack
      AWS_SECRET_ACCESS_KEY: localstack
      AWS_IAM_ROLE: arn:aws:iam::000000000000:role/role
      EVENT_BUS_NAME: local-main
      EVENT_BRIDGE_API_KEY: test
      S3_ENCRYPTION_KEY: alias/aws/s3
      AWS_S3_ENDPOINT: http://localstack:4566
      SIRIUS_PUBLIC_URL: http://localhost:8080
      FINANCE_ADMIN_PREFIX: /supervision/finance-admin
      JWT_SECRET: mysupersecrettestkeythatis128bits
      FINANCE_HUB_LIVE_DATE: 01/01/2024
      REPORTS_S3_BUCKET: opg-backoffice-reports-local
      ASYNC_S3_BUCKET: opg-backoffice-async-uploads-local
      NOTIFY_URL: http://json-server:3000
      OPG_NOTIFY_API_KEY: test
      OPG_SUPERVISION_SYSTEM_USER_ID: 1
