package components

templ AnnualInvoicingLetters() {
      <div>
          <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                This is the Annual Invoicing Letters page
              </div>
          </div>
      </div>
}