package components

templ Downloads() {
      <div>
          <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                This is the downloads page
              </div>
          </div>
      </div>
}