package components

templ Uploads() {
      <div>
          <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                This is the Uploads page
              </div>
          </div>
      </div>
}